<div class="container">
  
  <div class="row mb-2">
    <h4 class="offset-1 bg-light">ログイン</h1>
  </div>
  
  <%= form_with model: @customer,url: new_customer_session_path,local:true do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <div class="row">
      <h6 class="offset-1 bg-light">会員の方はこちらからログイン</h6>
    </div>

  
    <div class="row g-3 align-items-center mb-3">
      <h6 class="col-2 offset-3">メールアドレス</h6>
      <div class="col-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",placeholder:"sample@example.com" %>
      </div>
    </div>

    <div class="row g-3 align-items-center mb-3">
      <h6 class="col-2 offset-3">パスワード</h6>
      <div class="col-4">
      <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
      </div>
    </div>
  
    <div class="row g-3 align-items-center mb-3">
      <%= f.submit "Sign up",class:"btn btn-primary offset-5 col-2"%>
    </div>
  <% end %>


  <div class="row mb-2">
    <h6 class="offset-1 bg-light">すでに登録済みの方</h6>
  </div>
  
  <div class="row">
    <div class="offset-2 d-flex">
      <%= render "public/shared/links" %><span>からログインしてください。</span>
    </div>
  </div>
  
</div>