<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!--<header>-->
    <!--  <div class="container mt-3 mb-4">-->
    <!--    <div class="d-flex align-items-center justify-content-between">-->
    <!--      <h1><%= link_to "LOGO",root_path,class:"text-dark"%></h1>-->
          
    <!--      <nav class="navbar-expand-sm navbar-dark">-->
    <!--        <ul class="navbar bg-dark mt-3 mb-3">-->
    <!--          <% if customer_signed_in?%>-->
    <!--            <li class="nav-item"><%= link_to "About",about_path,class:"nav-link text-dark"%></li>-->
    <!--          <%else%>-->
    <!--            <li class="nav-item"><%= link_to "About",about_path,class:"text-dark"%></li>-->
    <!--            <li class="nav-item"><%= link_to"商品一覧",items_path,class:"text-dark"%></li>-->
    <!--            <li class="nav-item"><%= link_to "新規登録",new_customer_registration_path,class:"text-dark"%></li>-->
    <!--            <li class="nav-item"><%= link_to "ログイン",new_customer_session_path,class:"text-dark"%></li>-->
    <!--          <%end%>-->
    <!--        </ul>-->
    <!--      </nav>-->
          
          
    <!--    </div>-->
    <!--  </div>-->
    <!--</header>-->
    
    <div class="container">
    <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
      <h1 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <%= link_to "LOGO",root_path,class:"text-dark"%>
      </h1>
      <% if customer_signed_in?%>
        <ul class="nav nav-pills">
          <li class="nav-item"><%= link_to"商品一覧",items_path,class:"nav-link"%></li>
          <!--<li class="nav-item"><%= link_to"会員一覧",customers_path,class:"nav-link"%></li>-->
          <!--<li class="nav-item"><%= link_to"注文履歴一覧",admin_path,class:"nav-link"%></li>-->
          <!--<li class="nav-item"><%= link_to"ジャンル一覧",genres_path,class:"nav-link"%></li>-->
          <!--<li class="nav-item"><%= link_to"ログアウト",items_path,class:"nav-link"%></li>-->
        </ul>
      <%else%>
        <ul class="nav nav-pills">
          <li class="nav-item"><%= link_to "About",about_path,class:"nav-link"%></li>
          <li class="nav-item"><%= link_to"商品一覧",items_path,class:"nav-link"%></li>
          <li class="nav-item"><%= link_to "新規登録",new_customer_registration_path,class:"nav-link"%></li>
          <li class="nav-item"><%= link_to "ログイン",new_customer_session_path,class:"nav-link"%></li>
        </ul>
      <% end%>
    </header>
  </div>
    <%= yield %>
  </body>
</html>
